[tool.poetry]
name = "langrade"
version = "0.1.0"
description = "A library for grading document relevance using LLMs"
license = "MIT"

[tool.poetry.dependencies]
python = "3.10.9"
langchain = "^0.2.6"
langchain-community = "^0.2.6"
langchain-openai = "^0.1.14"
pymongo = "^4.8.0"
langchain-core = "^0.2.11"

[tool.poetry.group.dev.dependencies]
ruff = "^0.5.0"
mypy = "^1.10.1"
isort = "^5.13.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 88
select = ["E", "F", "W", "C", "N"]
ignore = ["E501", "W503"]

[tool.isort]
profile = "black"
